@model PollResultViewModel
<h2>@Html.DisplayFor(mi => Model.Question)</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Réponse</th>
            <th>Compte</th>
            <th>Resultat</th>
            <th>Ta réponse?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var choice in Model.Choices)
        {
        <tr>
            <td>@Html.DisplayFor(im => choice.Text)</td>
            <td>@Html.DisplayFor(im => choice.Count)</td>
            <td><div class="progress-bar" role="progressbar" style="width: @choice.Percentage%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@choice.Percentage.ToString("0.#") %</div></td>
            <td>@Html.DisplayFor(im => choice.IsYour)</td>
        </tr>
        }
    </tbody>
</table>
<hr />

<div>
    <a asp-action="ListResults" class="btn btn-link">Retour</a>
</div>
