@model Probel.Arbitrium.ViewModels.Admin.PollCollectionViewModel
<h2>Edit polls</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Poll</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NewPolls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-pollId="@item.Id" asp-route-userId="@Model.UserId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Polls" asp-route-userId="@Model.UserId">Back to List</a>
</div>

