@model IEnumerable<Poll>
<h2>Elections éditables</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Election</th>
            <th scope="col">Temps avant début</th>
            <th scope="col">status</th>
            <th scope="col">Fin de l'élection</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @if (!item.IsStarted)
                    {
                        @Html.DisplayFor(modelItem => item.RemainingTimeBeforeEnd)
                    }
                    else { <label>N.A.</label>}
                </td>
                <td>
                    @if (item.IsStarted)
                    {
                        <span class="badge badge-success">Démarré</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">En attente</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelITem => item.EndDateLocal)
                </td>
                <td>
                    <form asp-action="DeletePoll" role="form" asp-route-id="@item.Id">
                        <a asp-action="EditPoll" asp-route-id="@item.Id" class="btn btn-link">Editer</a> |
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#confirmDelete">Supprimer</button>
                        <!-- modal box to confirm deletion -->
                        <div class="modal" id="confirmDelete">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirmation</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Veux-tu effacer l'élection '@item.Question'?
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        @*<button  type="submit" class="btn btn-danger" data-dismiss="modal">Confirmer</button>*@
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

