@model Probel.Arbitrium.ViewModels.Admin.PollCollectionViewModel
<h2>Your polls</h2>
<hr />
<p>
    <a asp-action="Create" asp-route-userId="@Model.UserId">Create New</a>
    <a asp-action="EditPolls" asp-route-userId="@Model.UserId">Edit polls</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Poll</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NewPolls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    <a asp-action="Details" asp-route-pollId="@item.Id" asp-route-userId="@Model.UserId">Vote</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Finished polls</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Poll</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OldPolls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    <a asp-action="Result" asp-route-pollId="@item.Id" asp-route-userId="@Model.UserId">Results</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Invisible elements -->
<input asp-for="UserId" hidden />
