@model Probel.Arbitrium.ViewModels.Admin.PollResultViewModel
<h2>Result</h2>
    <h2>@Html.DisplayFor(mi => Model.Question)</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Answer</th>
                <th>Result</th>
                <th>Is your?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var choice in Model.Choices)
            {
                <tr>
                    <td>@Html.DisplayFor(im => choice.Text)</td>
                    <td>@Html.DisplayFor(im => choice.Percentage) %</td>
                    <td>@Html.DisplayFor(im => choice.IsYour)</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />

    <div>
        <a asp-action="Polls" asp-route-userId="@Model.UserId">Back to List</a>
    </div>
